<div class="relative flex w-full flex-col rounded-md bg-white bg-clip-border shadow-md">
  <div
    class="banner relative grid px-4 py-8 m-0 overflow-hidden text-center text-white bg-gray-900 place-items-center rounded-t-md bg-clip-border shadow-gray-900/20">
    <div class="h-20 p-6 mb-4 text-white">
    </div>
    <h5 class="block  text-xl antialiased font-semibold leading-snug tracking-normal text-white">
      Postavi Oglas
    </h5>
  </div>
  <div class="p-6">
    <div class="block overflow-visible">
      <div class="w-full">
        <div class="tabs relative right-0">
          <ul class="relative flex flex-wrap px-1.5 py-1.5 list-none rounded-md" role="list" style="background-color: #fce4e4;">
            <li class="z-30 flex-auto text-center" [ngClass]="{'bg-white text-slate-700 rounded-md shadow-lg': activeTab === propertyType.Apartment}"
            (click)="selectTab(propertyType.Apartment)"
            role="tab">
              <a class="tab text-gray-900 text-sm font-semibold">
                Stan
              </a>
            </li>
            <li class="z-30 flex-auto text-center" [ngClass]="{'bg-white text-slate-700 rounded-md shadow-lg': activeTab === propertyType.House}"
            (click)="selectTab(propertyType.House)"
            role="tab">
              <a class="tab text-gray-900 text-sm font-semibold">
                Kuća
              </a>
            </li>
            <li class="z-30 flex-auto text-center" [ngClass]="{'bg-white text-slate-700 rounded-md shadow-lg': activeTab === propertyType.Land}"
            (click)="selectTab(propertyType.Land)"
            role="tab">
              <a class="tab text-gray-900 text-sm font-semibold">
                Zemljište
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="relative block w-full overflow-hidden !overflow-x-hidden !overflow-y-visible bg-transparent">
        <div role="tabpanel"
          class="w-full p-0  text-base antialiased font-light leading-relaxed text-gray-700 h-max"
          data-value="card">
          <form class="flex flex-col gap-2 mt-10">
            <div>
              <p class="block mb-2 text-xs antialiased font-medium leading-normal text-blue-gray-900">
                  Naziv oglasa
              </p>
              <div class="relative h-8 w-full mb-3 min-w-[200px]">
                  <input type="text" placeholder="Naziv oglasa" 
                      class="peer h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-2.5 text-sm font-normal text-blue-gray-700 mb-4" />
              </div>
              
              <p class="block mb-2 text-xs antialiased font-medium leading-normal text-blue-gray-900">
                  Grad
              </p>
              <div class="relative h-8 w-full  mb-3 min-w-[200px]">
                  <input type="text" placeholder="Grad" 
                      class="peer h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-2.5 text-sm font-normal text-blue-gray-700 mb-4" />
              </div>
              
              <p class="block mb-2 text-xs antialiased font-medium leading-normal text-blue-gray-900">
                  Adresa nekretnine
              </p>
              <div class="relative h-8 w-full  min-w-[200px]">
                  <input type="text" placeholder="Adresa nekretnine" 
                      class="peer h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent !border-t-blue-gray-200 bg-transparent px-3 py-2.5 text-sm font-normal text-blue-gray-700" />
              </div>
          </div>
          <div class="my-1">
            <div class="flex items-center gap-4 my-4">
              <div class="flex flex-row items-center gap-4">
                <div>
                  <p class="block text-xs antialiased text-center font-medium leading-normal text-blue-gray-900 mb-2">
                    Veličina u m²
                  </p>
                  <app-number-input [placeholder]="''" [icon]="'fa-solid fa-maximize'"></app-number-input>
                </div>
                <div>
                  <p class="block text-xs antialiased text-center font-medium leading-normal text-blue-gray-900 mb-2">
                    Cena u €
                  </p>
                  <app-number-input [placeholder]="''" [icon]="'fa-solid fa-euro-sign'"></app-number-input>
                </div>
                <div *ngIf="activeTab !== propertyType.Land">
                  <p class="block text-xs antialiased text-center font-medium leading-normal text-blue-gray-900 mb-2">
                    Sprat
                  </p>
                  <app-number-input [placeholder]="''" [icon]="'fa-solid fa-arrow-up'"></app-number-input>
                </div>
                <div *ngIf="activeTab != propertyType.Land">
                  <p class="block text-xs antialiased text-center font-medium leading-normal text-blue-gray-900 mb-2">
                    Broj Soba
                  </p>
                  <app-number-input [placeholder]="''" [icon]="'fa-solid fa-person-shelter'"></app-number-input>
                </div>
                <div *ngIf="activeTab != propertyType.Land">
                  <p class="block text-xs antialiased text-center font-medium leading-normal text-blue-gray-900 mb-2">
                    Namešten
                  </p>
                  <app-radio [options] = "isFurnishedOptions" [name] = "'IsFurnished'" [size] = "radioSize.Small"></app-radio>
                </div>
              </div>
            </div>
          </div>
            
            <div class="flex items-center mt-5 mb-8">
              <app-textarea class="w-1/2" [label]="'Opis Nekretnine'"></app-textarea>
              <div class="w-1/3 flex items-center justify-center">
                <div class="flex flex-col items-center">
                  <p class="block mb-2 text-xs antialiased font-medium leading-normal text-blue-gray-900">
                    Tip Oglasa
                  </p>
                  <app-radio [options] = "sellOrRentOptions" [name] = "'SellOrRent'" [size] = "radioSize.Medium"></app-radio>
                </div>
              </div>
            </div>

            <button
              class="select-none rounded-lg bg-gray-900 py-3.5 px-7 text-center align-middle  text-sm font-bold  text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              >
              Postavi Oglas
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
