<h1 class="block antialiased tracking-normal font-extrabold text-gray-900 text-4xl">
 Najbolje mesto da<br />
 pronađeš dom iz snova<span style="color: #f07070">.</span>
</h1>
<p
  class="block text-sm antialiased font-light leading-normal mt-6 text-gray-800 max-w-lg"
>
  Kupovina prve nekretnine predstavlja jedan od najvažnijih događaja u životima svakog od nas. Dopusti da ti naša platforma pruži iskustvo kakvo zaslužuješ. 
</p>
<button
  class="align-middle mt-7 select-none font-bold text-center transition-all disabled:opacity-50 animate-pulse disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
  type="button"
  routerLink="/map-search"
>
  Započni istraživanje
</button>
