<h1 class="block antialiased tracking-normal font-bold text-gray-900 text-4xl">
  The best place to find<br />
  your dream home<span style="color: #f07070">.</span>
</h1>
<p
  class="block text-sm antialiased font-light leading-normal mt-6 text-gray-700 max-w-lg"
>
  We're constantly trying to express ourselves and actualize our dreams. If you
  have the opportunity to play this game of life you need to appreciate every
  moment.
</p>
<button
  class="align-middle mt-6 select-none font-bold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-10 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
  type="button"
>
  Start Exploring
</button>
