<app-navigation></app-navigation>
  <div class="hero-section grid grid-cols-2 grid-rows-1 gap-4">
    <app-main-content></app-main-content>
    <div class="search-wrapper col-start-1 row-start-2">
      <app-search-input-group></app-search-input-group>
    </div>
    <div class="image-grid-wrapper row-span-2 col-start-2 row-start-1">
      <app-image-grid></app-image-grid>
    </div>
</div>
<div class="whatWeDoTitle">
  <h1 class="block antialiased tracking-normal font-bold text-gray-900 text-4xl">
    What we do
  </h1>
  <p
    class="block text-sm antialiased font-light leading-normal mt-6 text-gray-600 max-w-lg"
  >
    We're constantly trying to express ourselves and actualize our dreams. If you
    have the opportunity to play this game of life.
  </p>
</div>


<div class ="whatWeDoSection grid grid-cols-3 grid-rows-1 gap-1">
  <app-icon-card></app-icon-card>
  <app-icon-card></app-icon-card>
  <app-icon-card></app-icon-card>
</div>
