.image-grid-wrapper {
  margin: auto;
  margin-top: 50px;
}
.hero-section {
  max-width: 2000px;
  margin: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='800' preserveAspectRatio='none' viewBox='0 0 1600 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3crect width='1600' height='800' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c27 C 80%2c73.6 240%2c229.6 400%2c260 C 560%2c290.4 640%2c163.2 800%2c179 C 960%2c194.8 1040%2c338.6 1200%2c339 C 1360%2c339.4 1520%2c212.6 1600%2c181L1600 800L0 800z' fill='rgba(240%2c 112%2c 112%2c 0.19)'%3e%3c/path%3e%3cpath d='M 0%2c642 C 106.8%2c601 320.4%2c427.6 534%2c437 C 747.6%2c446.4 854.8%2c661.6 1068%2c689 C 1281.2%2c716.4 1493.6%2c597 1600%2c574L1600 800L0 800z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='1600' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100% 100%;
  margin-top: 20px;
}

app-main-content {
  margin: auto;
  margin-top: 100px;
}
.search-wrapper {
  margin-bottom: 75px;
}
.banner-section{
  width: 100%;
  height:480px;
  max-width: 2000px;
  margin: auto;
  margin-top: 100px;
  background-image: url('../../../assets/images/banner-5-filter.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.banner-section p {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.25);
  text-align: center;
}

.card-grid-section{
  width: 80%;
  margin: auto;
  max-width: 2000px;
  margin-top: 70px;
}
.card-grid-section app-image-card {
  width: 100%; 
  max-width: 250px;
  margin: auto; 
}

.card-grid-header{
  text-align: center;
  margin-top: 60px;
}
.cards-wrapper{
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='800' preserveAspectRatio='none' viewBox='0 0 2000 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='2000' height='800' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c97 C 200%2c146.2 600%2c350.8 1000%2c343 C 1400%2c335.2 1800%2c115 2000%2c58L2000 800L0 800z' fill='rgba(240%2c 112%2c 112%2c 0.19)'%3e%3c/path%3e%3cpath d='M 0%2c572 C 133.4%2c583.4 400.2%2c646.2 667%2c629 C 933.8%2c611.8 1067.4%2c485.8 1334%2c486 C 1600.6%2c486.2 1866.8%2c601.2 2000%2c630L2000 800L0 800z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='2000' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.bottom-skyline{
  width: 100%;
  height:80px;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/footer-skyline.jpg');
  background-size: cover;
  background-position: center;
}