<app-navigation></app-navigation>
<div class="hero-section grid grid-cols-2 grid-rows-1 gap-4">
  <app-main-content></app-main-content>
  <div class="search-wrapper col-start-1 row-start-2">
    <app-search-input-group></app-search-input-group>
  </div>
  <div class="image-grid-wrapper row-span-2 col-start-2 row-start-1">
    <app-image-grid></app-image-grid>
  </div>
</div>
<div class ="banner-section">
  <h1 class=" block antialiased tracking-normal text-slate-50 font-extrabold text-4xl">Istraži svet <span style="color: #fce4e4">nekretnina</span></h1>
  <p class="block text-sm antialiased font-light leading-normal mt-6 text-gray-100 max-w-lg">
  Pružamo ti kompletnu uslugu prodavanja, kupovine i iznajmljivanja nekretnina. Pronađi savršen dom sa našim servisom. 
</p>
</div>
<div class="cards-wrapper">
  <h1 class="card-grid-header block antialiased tracking-normal text-gray-900 font-bold text-3xl">Najnoviji oglasi</h1>
  <div class="card-grid-section grid grid-cols-4 grid-rows-1 gap-4">
    <app-image-card *ngFor="let property of properties" [property]="property"></app-image-card>
  </div>
</div>
<app-footer></app-footer>
<div class="bottom-skyline">

</div>


