<app-navigation></app-navigation>
<div class="login-section min-h-screen flex fle-col justify-center">
  <div class="form-container py-6 px-4">
    <div class="items-center gap-6 w-full">
      <div
        class="bg-white border border-slate-300 rounded-lg p-6 max-w-lg shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-lg:mx-auto"
      >
        <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-12">
            <h1 class="text-slate-900 text-3xl font-semibold">Uloguj se</h1>
          </div>

          <div>
            <label class="text-slate-900 text-sm font-medium mb-2 block"
              >Korisničko ime</label
            >
            <div class="relative flex items-center">
              <input
                formControlName="username"
                name="username"
                type="text"
                required
                class="w-full text-sm text-slate-900 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                placeholder="Unesite korisničko ime"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#bbb"
                stroke="#bbb"
                class="w-[18px] h-[18px] absolute right-4"
                viewBox="0 0 24 24"
              >
                <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                <path
                  d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                  data-original="#000000"
                ></path>
              </svg>
            </div>
          </div>
          <div>
            <label class="text-slate-900 text-sm font-medium mb-2 block"
              >Lozinka</label
            >
            <div class="relative flex items-center">
              <input
                formControlName="password"
                name="password"
                type="password"
                required
                class="w-full text-sm text-slate-900 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                placeholder="Unesite lozinku"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#bbb"
                stroke="#bbb"
                class="w-[18px] h-[18px] absolute right-4 cursor-pointer"
                viewBox="0 0 128 128"
              >
                <path
                  d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                  data-original="#000000"
                ></path>
              </svg>
            </div>
          </div>

          <div class="!mt-12">
            <button
              type="submit"
              [disabled]="loading"
              style="background-color: #79a450"
              class="w-full shadow-xl py-2.5 px-4 text-[15px] font-medium tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none cursor-pointer"
            >
              {{ loading ? "Učitavanje..." : "Uloguj se" }}
            </button>
            <p class="text-sm !mt-6 text-center text-slate-600">
              Nemaš nalog?
              <a
                [routerLink]="['/register']"
                class="text-blue-600 font-medium hover:underline ml-1 whitespace-nowrap"
                >Registruj se</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="fixed inset-0 flex items-center justify-center z-50 pointer-events-none"
>
  <app-toast
    *ngIf="toastVisible"
    [message]="toastMessage"
    [toastType]="toastType"
    (close)="toastVisible = false"
    class="pointer-events-auto"
  ></app-toast>
</div>
