<div class="input-wrapper gap-4">
  <app-search-bar
    [placeholder]="'Search for properties'"
    [buttonClass] = "'absolute py-1.5 text-white text-sm right-1 top-1 my-auto px-3 flex items-center rounded hover:bg-slate-700'"
    [buttonColor] = "'#f07070'"
  ></app-search-bar>
  <app-select
    [placeholder]="'Location'"
    [icon] ="'fa-solid fa-location-dot'"
    [options] = "locationSelectOptions">
  </app-select>
  <app-select 
  [placeholder]="'Type'"
  [icon] ="'fa-solid fa-building'"
  [options] = "typeSelectOptions">
</app-select>
</div>
